Repository xiaomaupup/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,mjs,jsx,css}": ["biome check --write"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

chore: try @antfu/eslint-config
  eslint.config.mjs
  package.json
Due: biome check --write

fix eslint error
  .dumi/theme/layouts/GlobalLayout.tsx
  components/__tests__/node.test.tsx
  components/_util/__tests__/wave.test.tsx
  components/cascader/__tests__/index.test.tsx
  components/config-provider/__tests__/button.test.tsx
  components/config-provider/__tests__/popup.test.tsx
  components/grid/__tests__/index.test.tsx
  components/modal/__tests__/confirm.test.tsx
  components/slider/__tests__/index.test.tsx
  components/slider/__tests__/tooltip.test.tsx
  components/tag/__tests__/index.test.tsx
  components/typography/__tests__/ellipsis.test.tsx
  components/upload/__tests__/uploadlist.test.tsx
  eslint.config.mjs
  package.json
  tests/__mocks__/@rc-component/trigger.tsx
Due: biome check --write

fix eslint error
  components/cascader/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/menu/index.zh-CN.md
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo.test.ts.snap
  components/upload/index.zh-CN.md
  docs/blog/github-actions-workflow.en-US.md
  docs/react/getting-started.en-US.md
  docs/react/use-with-create-react-app.en-US.md
  docs/react/use-with-create-react-app.zh-CN.md
  docs/react/use-with-umi.zh-CN.md
  docs/react/use-with-vite.en-US.md
  docs/react/use-with-vite.zh-CN.md
  docs/spec/buttons.zh-CN.md
  docs/spec/copywriting.en-US.md
  docs/spec/copywriting.zh-CN.md
  docs/spec/data-format.en-US.md
  docs/spec/data-format.zh-CN.md
  docs/spec/detail-page.zh-CN.md
  docs/spec/transition.zh-CN.md
  docs/spec/visualization-page.zh-CN.md
  eslint.config.mjs
Due: biome check --write, prettier --ignore-unknown --write

fix eslint error
  components/_util/isNumeric.ts
  components/_util/wave/WaveEffect.tsx
  components/layout/Sider.tsx
  components/progress/Line.tsx
  components/upload/demo/customize-progress-bar.tsx
Due: biome check --write

[CodeFactor] Apply fixes
  components/date-picker/demo/disabled-date.tsx
  components/statistic/utils.ts
  scripts/generate-component-changelog.ts
Due: biome check --write

Update directory.tsx
  components/tree/demo/directory.tsx
Due: biome check --write

使用 Colab 创建而成
  chattts_webui_mix.ipynb
Due: none
